.container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 40%;
	height: 33vh;
	padding: 3em;
	text-align: center;

	h1 {
		margin: 0 0 1em;
	}

	ul {
		list-style: none;
		padding: 0;
		overflow: auto;
		width: 80%;
		margin: -23px auto 0;
		transition: 0.2s;
<<<<<<< HEAD
		li {
			padding: 0.7em 2em;
			border-bottom: 1px solid rgba(0, 0, 0, 0.144);
			text-align: left;
			margin: 0;
=======
		border-bottom: 1px solid rgba(0, 0, 0, 0.144);
		border-right: 1px solid rgba(0, 0, 0, 0.144);
		&.staticHeight {
			height: 210px;
		}
		li {
			padding: 0.7em 2em;
			border-bottom: 1px solid rgba(0, 0, 0, 0.144);
			border-left: 1px solid rgba(0, 0, 0, 0.144);
			text-align: left;
			margin: 0;
			&:last-child {
				border-bottom: none;
			}
>>>>>>> test
		}
	}
	#searchBarContainer {
		input {
			padding: 0.5em 1em;
			font-size: 1em;
			width: 75%;
		}
	}

	#wordContainer {
		text-align: left;
		width: 75%;
		margin: 0 auto;
<<<<<<< HEAD
		transition: 0.2s;
=======
		transition: 0.15s;
>>>>>>> test

		#word {
			font-size: 1.5em;
			margin-bottom: 0;
		}

		#meaning {
			font-size: 1.1em;
			opacity: 0.9;
		}

		#origin {
			font-style: italic;
			span {
				font-style: italic;
			}
		}
		#id {
			display: none;
		}
	}
}
